# File: .env.dev
BASE_URL=
SUPER_USERNAME=
SUPER_PASSWORD=
TENANT1_USERNAME=
TENANT1_PASSWORD=
USERS=Gujju1 BR Manager,Gujju2 BR Manager,Gujju3 BR Manager,Gujju4 BR Manager
BRANCHES=Gujarat 1, Maharastra 1,Delhi 1,Chennai 1,Bangalore 1,Kolkata 1
